<link rel="stylesheet" type="text/css" href="app.component.css" />

<!-- Toolbar -->

<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <img
    width="60"
    alt="Angular Logo"
    src="https://media.licdn.com/dms/image/C4D03AQHDeCM1m-E-Wg/profile-displayphoto-shrink_800_800/0/1622663576608?e=1688601600&v=beta&t=gwmmE1cpCBlffBmPo-83sOjURe28Z05ux1J5NeZPNmk"
  />

  <div class="spacer"></div>
  <a
    aria-label="O QUE É A SEMANA DE ENGENHARIA"
    target="_blank"
    rel="noopener"
    href="#"
    title="O QUE É"
  >
    O QUE É
  </a>
  <div class="spacer"></div>
  <a aria-label="DATAS" target="_blank" rel="noopener" href="#" title="DATAS">
    DATAS
  </a>
  <div class="spacer"></div>
  <a
    aria-label="PARCEIROS"
    target="_blank"
    rel="noopener"
    href="#"
    title="PARCEIROS"
  >
    PARCEIROS
  </a>
  <div class="spacer"></div>

  <a
    aria-label="PARTICIPE"
    target="_blank"
    rel="noopener"
    href="#"
    title="PARTICIPE"
  >
    PARTICIPE
  </a>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div id="parte1">
    <h1>7ª SEMANA DE ENGENHARIA</h1>
    <h2>SENAC SANTO AMARO</h2>
  </div>

  <div id="parte2">
    <h2>29 DE MAIO A 7 DE JUNHO</h2>
  </div>

  <div id="parte3">
    <h2>O que engenharia de Computação</h2>
    <p>
      A Semana de Engenharias é um evento de destaque no calendário acadêmico do
      Centro Universitário SENAC Santo Amaro! Ela reúne uma variedade de
      atividades, como mesas-redondas, palestras, projetos e exposições, todas
      elas focadas nas diferentes áreas da engenharia. O objetivo é proporcionar
      uma experiência única e enriquecedora para os estudantes e profissionais
      da área, oferecendo uma oportunidade para aprimorar seus conhecimentos,
      explorar novas tecnologias e estabelecer valiosas conexões profissionais
      através do networking. Se você está em busca de uma experiência envolvente
      e inspiradora no mundo da engenharia, a Semana de Engenharias do Centro
      Universitário SENAC Santo Amaro é o evento perfeito para você!
    </p>
  </div>

  <div id="parte4">
    <h2>O que engenharia de Produção</h2>
    <p>
      A Semana de Engenharias é um evento de destaque no calendário acadêmico do
      Centro Universitário SENAC Santo Amaro! Ela reúne uma variedade de
      atividades, como mesas-redondas, palestras, projetos e exposições, todas
      elas focadas nas diferentes áreas da engenharia. O objetivo é proporcionar
      uma experiência única e enriquecedora para os estudantes e profissionais
      da área, oferecendo uma oportunidade para aprimorar seus conhecimentos,
      explorar novas tecnologias e estabelecer valiosas conexões profissionais
      através do networking. Se você está em busca de uma experiência envolvente
      e inspiradora no mundo da engenharia, a Semana de Engenharias do Centro
      Universitário SENAC Santo Amaro é o evento perfeito para você!
    </p>
  </div>

  <div id="parte5">
    <h2>O que é a semana da Engenharia?</h2>
    <p>
      A Semana de Engenharias é um evento de destaque no calendário acadêmico do
      Centro Universitário SENAC Santo Amaro! Ela reúne uma variedade de
      atividades, como mesas-redondas, palestras, projetos e exposições, todas
      elas focadas nas diferentes áreas da engenharia. O objetivo é proporcionar
      uma experiência única e enriquecedora para os estudantes e profissionais
      da área, oferecendo uma oportunidade para aprimorar seus conhecimentos,
      explorar novas tecnologias e estabelecer valiosas conexões profissionais
      através do networking. Se você está em busca de uma experiência envolvente
      e inspiradora no mundo da engenharia, a Semana de Engenharias do Centro
      Universitário SENAC Santo Amaro é o evento perfeito para você!
    </p>
  </div>

  <div id="parte6">
    <h2>Progração</h2>
    <p>
      A ser divulgada
    </p>
  </div>

  <div id="parte7">
    <h2>Parceiros</h2>
    <p>
      A ser divulgada
    </p>
  </div>

  <div id="parte8">
    <h2>Fotos</h2>
    <p>
      A ser entregue
    </p>
  </div>

  <footer>
    <div class="creditos">
      <p>&copy; Hian A. Damaceno</p>
    </div>
  </footer>
</div>
